body{
    background-image: url(../images/background.jpg);
}

form{
    margin: -8px 0;
    color: white;
    margin-left: 297px;
    margin-top: 5%;
    float: left;
    width: 40%;
    text-align: -webkit-center;
    background-color: #272e4d;
    border-radius: 2%;
}

form label{
    display: block;
    font-size: 20px;
    margin-top: 10px;
}

.padronizado{
    display: block;
    padding: 10px 25px;
    width: 87%;
    border: black 3px solid;
    resize: none;
}

.btn{
    width: 30%;
    background-color: green;
    color: honeydew;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 9px;
}