.login{
    position: fixed;
    height: 100%;
    z-index: 3;
    width: 40%;
    top: 0;
    right: 0;
    background-color: rgb(22, 34, 31);
    /* border-left: 6px solid #b34933; */
    animation: login_abrir 1.5s ease-out;
    float: right;
}
.div_cad{
    width: 100%;
    height: 58vh;
    align-content: center;
    margin: 1% 0% 0% 0%;
    text-align: center;
    position: relative;
    border-radius: 5px;
    position: absolute;
    top: 25%;
}

/*Estilização dos campos input dentro da class pai (div_cad)*/
.div_cad input{
    border: 1px solid #b34933;
    margin-bottom: 25px;
    width: 35%;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
}
.div_cad label{
    font-size: 20px;
    color: white;
}

/*Estilização da seta para retornar à página anterior*/
.login i{
    color: darkolivegreen;
    height: -1vh;
    font-size: 4rem;
    cursor: pointer;}

.login h2 {
    text-align: center;
    font-size: 35px;
    color: white;
}

/*Estilização dos botões dentro da class pai (div_cad)*/
.div_cad button{
    background-color: #549b2c;
    border-radius: 5px;
    width: 25%;
    margin-top: 5%;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 8px;
}

.botoes {
    width: 100%;
    color: white;
}
.botoes a{
    margin-left: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.botoes a:hover{
    filter: brightness(130%);
}

.login a {
    color: #b34933;
    text-decoration:none;
}

/* Cadastro */

.cadastro{
    padding-top: 10%;
    position: fixed;
    height: 100%;
    z-index: 4;
    width: 50%;
    top: 0;
    right: 0;
    background-color: rgb(22, 34, 31);
}
.cadastro select{
    
    padding: 7px;
    border-radius: 3px;
}
.cadastro option{
    padding: 4px;
    font-size: 110%;
}
.cadastro h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    font-variant: small-caps;
}

/* Classes para animações das telas */
.abrir_tela{
    animation: abrir_tela 1.5s ease-out;
}
.fechar_tela{
    animation: fechar_tela 1.5s ease-out;
}
/* botao de ver senha -- em desenvolvimento */
.ver img{
    height: 50px;
}

/* Calculadora financeira */
.financeiro{
    padding-top: 10%;
    position: fixed;
    height: 100%;
    z-index: 4;
    width: 40%;
    top: 0;
    left: 0;
    background-color: rgb(22, 34, 31);
}
.resp{
    width: 80%;
    text-align: left;
    margin-left: 10%;
}
.resp span{
    font-size: medium;
    font-variant: small-caps;
    width: 80%;
    float: left;
    margin-top: 10px;
    color: aliceblue;
}
.resp .valor{
    color: #b34933;
    font-weight: bolder;
    margin-top: 10px;
    float: right;
}
.financeiro h2 {
    text-align: center;
    font-size: 28px;
    color: white;
}
.financeiro h3 {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-bottom: 0;
}
.abrir_financ{
    animation: abrir_financ 1.5s ease-out;
}
.fechar_financ{
    animation: fechar_financ 1.5s ease-out;
}
.aparecer{
    animation: aparecer 1s ease-in;
}

.tampa {
    top: 0;
    padding-top: 30%;
    text-align: center;
    position: fixed;
    z-index: 2;
    background-color: #b34933;
    height: 100%;
    width: 2%;
    float: right;
    cursor: pointer;
    transition: 0.5s;
}
.abrir_tampa{
    animation: abrir_tampa 1.5s ease-out;
}

.tampa_direita{
    right: 40%;
}

.fechar_tampa{
    animation: fechar_tampa 1.5s ease-out;
}
.tampa img {
    width: 80%;
    filter: brightness(200%);
}

.tampa:hover{
    filter: brightness(40%);
}

.abrir_tampa_cadastro{
    animation: abrir_tampa_cadastro 0.6s ease-out;
    right: 50%;
}
.fechar_tampa_cadastro{
    animation: fechar_tampa_cadastro 0.6s ease-out;
}

.tampa_esquerda {
    left: 40%;
    z-index: 2;
}
.abrir_tampa_esquerda{
    animation: abrir_tampa_esquerda 1.5s ease-out;
}

.fechar_tampa_esquerda{
    animation: fechar_tampa_esquerda 1.5s ease-out;
}
.tampa_esquerda img{
    transform: rotate(180deg);
}
